<template lang="pug">
#FeatureFilter.text-center
    v-alert(:value="mapZoom < 10" icon="mdi-alert-circle" type="warning" elevation="0" outlined color="warning") Zoom in to see features
    div(style="max-height:350px;overflow-y:scroll")
        v-checkbox(v-for="(v, k) of filters" v-model="filters[k].value" :label="v.text" hide-details)
</template>

<script>
import { EventBus } from '@/EventBus';
import Vue from 'vue';
import { featureTypes } from '@/featureTypes';
export default {
    name: 'FeatureFilter',
    props: ['mapZoom'],
    data: () => ({
        objectTypes: [],
        filters: {},
    }),
    async created() {
        window.FeatureFilter = this;
        this.filters = {};
        for (const key of Object.keys(featureTypes)) {
            const featureType = featureTypes[key];
            const geomText =
                featureType.geometryType === 'Point' ? 'point' : 'line';
            Vue.set(this.filters, key, {
                text: featureType.text + ` (${geomText})`,
                value: true,
            });
        }
    },
    computed: {
        activeFilters() {
            return Object.keys(this.filters).filter(
                (k) => this.filters[k].value
            );
        },
    },
    watch: {
        filters: {
            deep: true,
            handler() {
                EventBus.$emit('update-feature-filter', this.activeFilters);
            },
        },
    },
};
</script>

<style scoped></style>
